@charset "utf-8";
.container{
	width: 100%;
}
.header{
	width:1200px;
	margin: 0 auto;	
	font-size: 12px;
	color:#999;
}
.header > ul{
	height: 30px;
	line-height: 30px;
}
.header > ul> li{
	position: relative;
	float: left;
	/*margin-right: 10px;*/
	padding:0 5px;
}
.header > ul>li a{
	position: relative;
    display: inline-block;
    /*padding-right: 10px;*/
	color:#999;
	/*transition: .5s;*/
}
.header > ul>li a:hover{
	color: red;
}
.header > ul > li:before{
	display: block;
	position:absolute;
	top: 9px;
	left: 0;
	content: '';
	width: 1px;
	height: .8rem;
	background-color: #ada7a7;
	z-index: 1;
}
.header > ul > li:last-child .dropDownDiv{
	position: relative;/*之前之所以没盖住兄弟节点，主要是因为没设置定位。因为z-index没生效*/
    padding-left: 5px;
    padding-right: 16px;
	background-color: #fff;
}
.header > ul > li:last-child .dropDownDiv:hover,
.header > ul > li:last-child .dropDownDiv + ol:hover{
	border: 1px solid #f0efef;
    border-bottom: 1px solid transparent;
    box-shadow: 1px -2px 5px 0 #d5d5d5;
     z-index:1;
}
.header > ul > li:last-child .dropDownDiv:hover + ol,
.header > ul > li:last-child .dropDownDiv + ol:hover{
	display: block;
}
/*制作三角形*/
.header > ul.left_menu > li:last-child a:after{
    content: '';
    /*display: inline-block;*/
    position: absolute;
    right: -13px;
    top: 10px;
    border: 5px solid transparent;
    border-top: 10px solid #beb7b7;	
}
.header > ul.left_menu > li:last-child:hover a:after{
	top: 3px;
    border: 5px solid transparent;
    border-bottom: 10px solid #beb7b7;	
}
/*顶部导航 左侧部分的下拉部分*/
.header ul > li  ol {
	display: none;
	position: absolute;
	right:4px;
	top:30px;
	width:160px;
	background-color: #FFF;
    border: 1px solid #e4e0e0;
    text-align: center;
    box-shadow: 0 0 9px 0 #e4e0e0;
}

.header ul > li  ol.right-dropdown{
	width: 400px;
    height: 160px;
    padding-top: 50px;
    padding-bottom: 14px;
}    
/*导航栏布局*/
.nav{
	
}
.nav .logo h1{
	position: absolute;
	clip: rect(0,0,0,0);
}
.nav > ul >li{
	float: left;
	margin: 0 10px;
}
.nav > ul >li a{
	padding:7px auto;
	border-bottom: 2px solid transparent;
}
.nav > ul >li a:hover{
	padding:4px 0;
	border-bottom-color:red;
	color: red;
}
.nav form{
	position: relative;
}
.nav form input{
	width: 310px;
	height: 40px;
	margin-left: 70px;
    border: none;
    border-bottom: 1px solid #c5b7b7;
    outline: none;
    text-indent: 10px;
}
.nav form input:focus + .searchPHoler{
	display: none;
}
.nav form .searchPHoler{
	position: absolute;
    right: 20px;
    top: 21px;
}
.nav form .searchPHoler a{
	background-color: #efe1e1;
	cursor:pointer;
}
.nav form .searchPHoler a:hover{
	color:red;
}
/*轮播banner*/
.banner{
	position: relative;
	width: 100%;
	overflow: hidden;
}
/*.banner ul{
	width: 13440px;
}
.banner ul li{
	float: left;
}
.banner ul li img{
	width: 1920px;
	height: 450px;
}*/
.banner ul.banner-menu-lv1{
	position: absolute;
	top: 0;
	width: 240px;
	height: 450px;
	background-color: #431015;
	z-index: 1;
} 

.banner ul.banner-menu-lv1 li{
	width: 240px;
	/* height: 75px; */
	padding-left: 17px;
	background-color: #646060;
	font-size: 14px;
	color: #999999;
}
.banner ul.banner-menu-lv1 li:hover{
	background-color: #3d3d3d;
	color: #fff;
}
.banner ul.banner-menu-lv1 li > dl{
	padding: 15px 0 26px 0;
}
.banner ul.banner-menu-lv1 li > dl dd{
	float: left;
	margin-right: 13px;
}




  
/*轮播插件分页器样式重写*/
.swiper-pagination-bullet{
	width: 14px;
    height: 14px;
    border: 1px solid #fff;
    background-color: #fff;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #fff;
}
 