.clearfix:after{
	display: block;
	content: '';
	clear: both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.ib{
	display: inline-block;
}
.bf-none:before{
	display: none !important;
}
.pl-none{
	padding-left: 0 !important;
}
.pl-1{
	padding-left: 1px !important;
}
.p-none{
	padding: 0;
}
.mr-10{
	margin-right: 10px;
}
.w-1200{
	width: 1200px;
}
.m0a{
	margin:0 auto;
}
.fz-12{
	font-size: 12px;
}
.fz-14{
	font-size: 14px;
}
.mb-3{margin-bottom: 3px;}
.pl-40{
	padding-left: 40px;
}
.ptb-30{
	padding-top: 30px;
	padding-bottom: 30px;
}
.pr-30{
	padding-right: 30px;
}
