@charset "utf-8";
body, p, ul, dl, dd, ol, h1, h2, h3, h4, h5, h6{ margin:0;}
ul,ol{ padding-left:0;list-style:none;}
body{font-size: 12px; font-family:"PingFang SC";}
a{text-decoration: none; color: #999;}
img{vertical-align: top;}
.bgc-f03{background-color: #FF0036;}
.clearfix:after{
	display: block;
	content: "";
	clear:both;
}
.w10{width: 10rem;}
.w9-2{width: 9.2rem;}
.fl{float: left;}
.fr{float: right;}
.ma{margin:0 auto;}
.m-t-04{margin-top:.4rem;}
.m-t-03{margin-top:.3rem;}
.db{display: block;}
.c-fff{color:#fff;}
.c-ff0{color: #f00;}
.c-ffe{color:#FFEB00;}
.c-817{color:#817ff2;}
.c-999{color: #999;}
.c-b4a{color: #b4a179;}
.c-a45{color:#a457fa;}
.c-9e7{color: #9e7939;}
.c-ab6{color:#ab686b;}
.f-w-b{font-weight: bold;}
.f-s-32{font-size: .32rem !important;}
.f-s-37{font-size: .37rem !important;}
.wh-1-25{width: 1.25rem; height: 1.25rem;}
.wh-2-13{width:2.13rem; height: 2.13rem;}
.wh-1-97{width:1.97rem !important; height: 1.97rem !important;}
.w-9-46{width:9.46rem;}
.m-l-34{margin-left: .34rem;}
.m-l-4{margin-left: .4rem;}
.m-t-26{margin-top: .26rem;}
.p-t-34{padding-top: .34rem;}
.bd-r-none{border-right:none !important;}
.bs-r{box-shadow: 0 1px 1px #eee;}
