@charset "utf-8";
#wraper{
	width: 10rem;
}
#header{
	/*display: flex;*/
	width: 9.48rem;
	height: 2.08rem;
	padding:0 .26rem;
	background-color: #FF0036;
	
}
#header .top{
	width: 100%;
}
#header .menu img{
    width: .8rem;
    height: .8rem;
}
#header .logo{
    width: 5.3rem;
    height: 1rem;
}
#header .search{
	width: 9.52rem;
	height: 1.06rem;
	background-color: #fff;
}
