@charset "utf-8";
#wraper{
	width: 10rem;
}
#header{
	/*display: flex;*/
	width: 9.48rem;
	height: 2.08rem;
	padding:0 .26rem;
	background-color: #FF0036;
	
}
#header .top{
	width: 100%;
}
#header .menu img{
	margin-top:.3rem;
    width: .6rem;
    height: .5rem;
}
#header .logo{
    width: 5.3rem;
    height: 1rem;
}
#header .search{
	position: relative;
    width: 7.52rem;
    height: .33rem;
    padding: .3rem 1rem;
	background-color: #fff;
	color: #c7c2c2;
	font-size: .32rem;
}
#header .search:before{
	display: inline-block;
	width: .4rem;
	height: .4rem;
	content: '';
	position: absolute;
	top: .29rem;
	left: .24rem;
	background: url(../images/search.png) no-repeat center/.4rem;
}

/*导航栏nav*/
ul.nav{
	display: flex;
	justify-content: space-around;
	margin-top: .053rem;
	text-align: center;
}
ul.nav > li img{
	width: 1.28rem;
	height: 1.28rem;
}
ul.nav > li p{
	padding:.26rem 0;
	font-size: .32rem;
}
.banner img{
	width: 100%;
	height: 3.46rem;
}

.rob-purchase img{
	width: 100%;
	height: 3.2rem;
	background-color: #f2f2f2;
}
/*活动搞起来*/
.go-activity{
	width: 9.46rem;
	height: 6.4rem;
	background-color:#fff;
	box-shadow: 1px 1px 1px #eee, -1px -1px 1px #eee;
}
.go-activity .app{
	width: 9.46rem;
	border-bottom: 1px solid #eee;
	font-size: .32rem;
}
.go-activity .app .text{
	/* float: left; */
	display: inline-block;
	width: 4.54rem;
	height:1.5rem;
}
.go-activity .app .text p{
	margin:.18rem 0.1rem;
}
.go-activity .app .download-app{
	/* display: inline-block; */
	float: right;
	width: 2.66rem;
	height: .8rem;
	margin: .3rem .3rem 0 0;
	background-color: #FF0036;
	line-height: .8rem;
	text-align: center;
	border-radius: .5rem;
}
.go-activity ul.new-person-bag > li{
	float: left;
	padding-left: .3888rem;
	border-right: 1px solid #eee;
}
.go-activity ul.new-person-bag > li h3{
	padding: .3rem 0;
	font-size: .37rem;
}
.go-activity ul.new-person-bag > li p{
	font-size: .32rem;
}
.go-activity ul.new-person-bag > li img{
	width: 2.64rem;
	height: 1.76rem;
	margin-top: .6rem;
}

#wraper .title{
	margin-top: .53rem;
	line-height: .72rem;
}
#wraper .title .fl span:first-child{
	font-size: .37rem;
}
.special-goods{
	margin: 0 .26rem;
	box-shadow: 1px -2px 5px 1px #e6e5e5,
				-1px 2px 5px 1px #e6e5e5;
}
.special-goods .pic-text{
	position: relative;
	width:3.86rem;
	height: 5.33rem;
	background: url('../images/supermarket1.jpg') top left/cover no-repeat;
}
.special-goods .pic-text p{
	margin-left: .42rem;
}
.special-goods .pic-text p:first-child{
	padding-top: .32rem;
}
.special-goods .pic-text img{
	position: absolute;
	top: 2.66rem;
	left: .66rem;
}
/* 天猫直营 */
.special-goods .direct{
	position: relative;
	width: 5.6rem;
	height: 2.4rem;
	background-color: pink;
}
.special-goods .direct p:nth-of-type(1){
	margin-left: .4rem;
	margin-top: .34rem;;
	font-size: .37rem;
	font-weight: bold;
	color: #817ff2;
}
.special-goods .direct p:nth-of-type(2){
	margin: .08rem 0 .08rem .4rem;
	font-size: .32rem;
}

.special-goods .direct img:nth-of-type(1){
	width: 2.18rem;
	height: .4rem;
}
.special-goods .direct img:nth-of-type(2){
	position: absolute;
	top: .2rem;
    right: .4rem;
	width: 1.97rem;
	height: 1.97rem;
}
.special-goods .bottom-wrap{
	width: 5.6rem;
}
.special-goods .bottom-wrap div{
	width: 2rem;
    height: 2.13rem;
    padding: .4rem;
}
.special-goods .bottom-wrap p:nth-of-type(1){
	font-size: .37rem;
	font-weight: bold;
}
.special-goods .bottom-wrap p:nth-of-type(2){
	font-size: .32rem;
}
.special-goods .bottom-wrap img{
	width: 1.13rem;
	height: 1.13rem;
}